<div class="flex absolute inset-0">

  <!-- sidenav -->
  <aside id="sidebar"
    class="fixed top-0 left-0 bottom-0 h-full bg-white z-[1] duration-500 delay-[0s] ease-out transition-all"
    [class.w-0]="!isSideNavOpen && sideNavMode == 'over'" [class.w-60]="isSideNavOpen || sideNavMode == 'side'"
    style="box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024, 0 6px 30px 5px #0000001f;">

    <button mat-icon-button aria-label="Nav Close Button"
      class="text-white bg-black rounded-full shadow-xl sidebar-toggle" *ngIf="isSideNavOpen && sideNavMode == 'over'" (click)="toggleDrawer()">
      <mat-icon>cancel</mat-icon>
    </button>

    <nav id="sidebar-content" class="flex flex-col h-full overflow-hidden bg-white">

      <div id="sidebar-main" class="relative flex-1">

        <div
          class="left-0 opacity-100 z-[1] flex flex-col overscroll-contain absolute w-full h-full duration-500 delay-[0s] ease-out transition-all">

          <div id="sidebar-header" class="basis-12 flex items-center justify-between overflow-hidden pt-2 px-2">
            <div>LOGO</div>
          </div>

          <div id="sidebar-body" class="overflow-x-hidden overflow-y-auto flex-1 scroll-smooth px-6 py-4">
            <p *ngFor="let content of fillerContent">{{content}}</p>
          </div>

        </div>

      </div>

      <div id="sidebar-footer"></div>

    </nav>

  </aside>

  <div class="flex-1 flex flex-col duration-500 delay-[0s] transition-[margin-left] ease-out"
    [class.ml-0]="sideNavMode == 'over'" [class.ml-60]="sideNavMode == 'side'">

    <!-- header -->
    <div id="header"
      class="flex items-center justify-between basis-12 px-2 bg-white text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-xl">
      <div class="flex m-3">
        <div>Navbar</div>
        <mat-icon (click)="toggleDrawer()" *ngIf="sideNavMode == 'over'">menu</mat-icon>
      </div>
      <div class="flex">
        <div>User Image</div>
      </div>
    </div>

    <!-- page content -->
    <div class="flex-1">

      <!-- overlay -->
      <div class="duration-500 delay-[0s] transition-[margin-left] ease-out"
        [class.backdrop]="isSideNavOpen && sideNavMode == 'over'" [class.ml-60]="isSideNavOpen && sideNavMode == 'over'"
        (click)="toggleDrawer()"></div>

      <!-- sidenav container -->
      <main id="sidenav-container" class="relative block h-full overflow-auto p-10 flex-1">
        <!-- <router-outlet></router-outlet> -->
        <div class="bg-white w-full">
          Hello
        </div>
      </main>

    </div>

  </div>

</div>
